.error_msg {
  color: red;
  margin-bottom: 0.5rem;
}

.info_msg {
  color: green;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
